extends ../_layouts/_layout

block styles-page
    link(href='assets/css/index.css', rel='stylesheet')

block body
    .site-wrapper
        .site-wrapper-inner
            .cover-container
                .masthead.clearfix
                    .inner
                        h3.masthead-brand Cover
                        nav
                            ul.nav.masthead-nav
                                include ../_partials/_nav
                    include ../_partials/_more
                .inner.cover
                    h1.cover-heading Cover your page.
                    p.lead
                        | Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
                    p.lead
                        a.btn.btn-lg.btn-default(href='#') Learn more
                .mastfoot
                    .inner
                        p
                            | Cover template for 
                            a(href='http://getbootstrap.com') Bootstrap
                            | , by 
                            a(href='https://twitter.com/mdo') @mdo
                            | .